        <!-- Start QuickView Modal Area for black-tea-extract -->
        <div class="modal fade productsQuickView" id="black-tea-extract" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class='bx bx-x'></i></span>
                    </button>

                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="products-image">
                                <img src="assets/img/products/black tea extract.png" alt="image">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="products-content">
                                <h3><a>Black Tea Extract</a></h3>

                                <div class="products-review mt-3">
                                    <div class="rating">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                    </div>
                            
                                </div>

                                <ul class="products-info">
                                    <li><span>Products Type:</span> <a> Black Tea Extract</a></li>
                                    <li><span>Vendor:</span> <a> Chunyung</li>
                                    <li><span>Appearance: </span> <a> Brown Yellow---White Powder</li>
                                    <li><span>Type:</span> <a> Herbal Extract</li>
                                    <li><span>Application:</span> <a> Health-Care, Food, and Additive</li>
                                    <li><span>Model Number:</span> <a> 100% Nature</li>
                                    
                                </ul>

                                
                                <div class="products-size-wrapper">
                           
                                </div>

                                <div class="products-add-to-cart">
                                    <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- End QuickView Modal Area -->




      <!-- Start QuickView Modal Area for jaceosidin-->
      <div class="modal fade productsQuickView" id="jaceosidin" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class='bx bx-x'></i></span>
                </button>

                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="products-image">
                            <img src="assets/img/products/jaceosidin.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="products-content">
                            <h3><a>Jaceosidin</a></h3>

                            <!-- <div class="price">
                                <span class="old-price">$45.00</span>
                                <span class="new-price">$39.00</span>
                            </div> -->

                            <div class="products-review mt-3">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <!-- <i class='bx bxs-star'></i> -->
                                </div>
                                <!-- <a href="#" class="rating-count">4 reviews</a> -->
                            </div>

                            <ul class="products-info">
                                <li><span>Products Type:</span> <a>Jaceosidin</a></li>
                                <li><span>Vendor:</span> <a>Chunyung</a></li>
                                <li><span>Appearance:</span> <a>White Powder</a></li>
                                <li><span>Particle Size:</span> <a>100% Pass 80 Mesh</a></li>
                                <li><span>Test Method:</span> <a>HPLC</a></li>
                                <li><span>MOQ:</span> <a>1 Kg</a></li>
                          
                            </ul>

                            
                            <div class="products-size-wrapper">
                       
                            </div>

                            <div class="products-add-to-cart">
                                <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      </div>
    <!-- End QuickView Modal Area -->



      <!-- Start QuickView Modal Area for Elderberry-->
      <div class="modal fade productsQuickView" id="elderberry" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class='bx bx-x'></i></span>
                </button>

                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="products-image">
                            <img src="assets/img/products/elderberry.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="products-content">
                            <h3><a>Elderberry Flower Tea Powder</a></h3>

                      

                            <div class="products-review mt-3">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <!-- <a href="#" class="rating-count">4 reviews</a> -->
                            </div>

                            <ul class="products-info">
                                <li><span>Products Type:</span> <a>Elderberry Flower Tea Powder</a></li>
                                <li><span>Vendor:</span> <a>Chunyung Chemical Industry</a></li>
                                <li><span>Appearance:</span> <a>Light White Fine Powder</a></li>
                                <li><span>Purity:</span> <a>100%</a></li>
                                <li><span>Application:</span> <a>Beverage</a></li>
                                <li><span>Test Method:</span> <a>TLC</a></li>
                            </ul>

                            
                            <div class="products-size-wrapper">
                       
                            </div>

                            <div class="products-add-to-cart">
                                <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End QuickView Modal Area -->




      <!-- Start QuickView Modal Area for broccoli-->
      <div class="modal fade productsQuickView" id="broccoli" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class='bx bx-x'></i></span>
                </button>

                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="products-image">
                            <img src="assets/img/products/broccoli.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="products-content">
                            <h3><a>Broccoli Sprout Extract</a></h3>

                            <div class="products-review mt-3">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                        
                                </div>
                          
                            </div>

                            <ul class="products-info">
                                <li><span>Products Type:</span> <a>Broccoli Sprout Extract</a></li>
                                <li><span>Vendor:</span> <a>Chunyung Chemical Industry</a></li>
                                <li><span>Appearance:</span> <a>Green Fine Powder</a></li>
                                <li><span>Spec:</span> <a>10.1</a></li>
                                <li><span>Purity:</span> <a>99%</a></li>
                                <li><span>MOQ:</span> <a>1 Kg</a></li>
                            </ul>

                            
                            <div class="products-size-wrapper">
                       
                            </div>

                            <div class="products-add-to-cart">
                                <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End QuickView Modal Area -->



<!-- Start QuickView Modal Area for schizandra-->
<div class="modal fade productsQuickView" id="schizandra" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='bx bx-x'></i></span>
            </button>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="products-image">
                        <img src="assets/img/products/schizandra.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="products-content">
                        <h3><a>Schisandra Chinensis Extract Powder</a></h3>

                        <div class="products-review mt-3">
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            
                            </div>
                    
                        </div>

                        <ul class="products-info">
                            <li><span>Products Type:</span> <a>Schisandra Chinensis Extract Powder</a></li>
                            <li><span>Vendor:</span> <a>Chunyung Chemical Industry</a></li>
                            <li><span>Appearance:</span> <a>Brown Fine Powder</a></li>
                            <li><span>Spec:</span> <a>10.1</a></li>
                            <li><span>Type:</span> <a>Herb</a></li>
                            <li><span>MOQ:</span> <a>1 Kg</a></li>
                        </ul>

                        
                        <div class="products-size-wrapper">
                   
                        </div>

                        <div class="products-add-to-cart">
                            <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End QuickView Modal Area -->


<!-- Start QuickView Modal Area for agaricus-->
<div class="modal fade productsQuickView" id="agaricus" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='bx bx-x'></i></span>
            </button>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="products-image">
                        <img src="assets/img/products/agaricus.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="products-content">
                        <h3><a>Agaricus Blazei Murill Extract</a></h3>

                        <div class="products-review mt-3">
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            
                            </div>
                    
                        </div>

                        <ul class="products-info">
                            <li><span>Products Type:</span> <a>Agaricus Blazei Murill Extract</a></li>
                            <li><span>Vendor:</span> <a>Chunyung Chemical Industry</a></li>
                            <li><span>Appearance:</span> <a>Brown Fine Powder</a></li>
                            <li><span>Solubility:</span> <a>Water Soluble</a></li>
                            <li><span>Specification:</span> <a>10%-50%</a></li>
                            <li><span>Test Method:</span> <a>UV</a></li>
                            <li><span>MOQ:</span> <a>1 Kg</a></li>
                        </ul>

                        
                        <div class="products-size-wrapper">
                   
                        </div>

                        <div class="products-add-to-cart">
                            <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End QuickView Modal Area -->


<!-- Start QuickView Modal Area for black_tomato-->
<div class="modal fade productsQuickView" id="black_tomato" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='bx bx-x'></i></span>
            </button>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="products-image">
                        <img src="assets/img/products/black_tomato.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="products-content">
                        <h3><a> Black Tomato Powder</a></h3>

                        <div class="products-review mt-3">
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            
                            </div>
                    
                        </div>

                        <ul class="products-info">
                            <li><span>Products Type:</span> <a> Black Tomato Powder</a></li>
                            <li><span>Vendor:</span> <a>Chunyung Chemical Industry</a></li>
                            <li><span>Appearance:</span> <a> Purple Fine Powder</a></li>
                            <li><span>Solubility:</span> <a>Water Soluble</a></li>
                            <li><span>Purity:</span> <a>99%</a></li>
                            <li><span>Test Method:</span> <a>TLC/UV</a></li>
                           
                        </ul>

                        
                        <div class="products-size-wrapper">
                   
                        </div>

                        <div class="products-add-to-cart">
                            <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End QuickView Modal Area -->



<!-- Start QuickView Modal Area for white_sage-->
<div class="modal fade productsQuickView" id="white_sage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='bx bx-x'></i></span>
            </button>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="products-image">
                        <img src="assets/img/products/black_tomato.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="products-content">
                        <h3><a> Black Tomato Powder</a></h3>

                        <div class="products-review mt-3">
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            
                            </div>
                    
                        </div>

                        <ul class="products-info">
                            <li><span>Products Type:</span> <a> Black Tomato Powder</a></li>
                            <li><span>Vendor:</span> <a>Chunyung Chemical Industry</a></li>
                            <li><span>Appearance:</span> <a> Purple Fine Powder</a></li>
                            <li><span>Solubility:</span> <a>Water Soluble</a></li>
                            <li><span>Purity:</span> <a>99%</a></li>
                            <li><span>Test Method:</span> <a>TLC/UV</a></li>
                           
                        </ul>

                        
                        <div class="products-size-wrapper">
                   
                        </div>

                        <div class="products-add-to-cart">
                            <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End QuickView Modal Area -->


<!-- Start QuickView Modal Area for iris-powder-->
<div class="modal fade productsQuickView" id="iris-powder" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='bx bx-x'></i></span>
            </button>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="products-image">
                        <img src="assets/img/products/iris-powder.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="products-content">
                        <h3><a> Black Tomato Powder</a></h3>

                        <div class="products-review mt-3">
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            
                            </div>
                    
                        </div>

                        <ul class="products-info">
                            <li><span>Products Type:</span> <a> Iris Powder</a></li>
                            <li><span>Vendor:</span> <a>Chunyung Chemical Industry</a></li>
                            <li><span>Appearance:</span> <a> Purple Blue Powder</a></li>
                            <li><span>Solubility:</span> <a>Water Soluble</a></li>
                            <li><span>Purity:</span> <a>99%</a></li>
                            <li><span>Spec:</span> <a>99%</a></li>
                            <li><span>Application:</span> <a>Food Colouring</a></li>
                            <li><span>Test Method:</span> <a>TLC</a></li>
                           
                        </ul>

                        
                        <div class="products-size-wrapper">
                   
                        </div>

                        <div class="products-add-to-cart">
                            <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End QuickView Modal Area -->


<!-- Start QuickView Modal Area for poria-->
<div class="modal fade productsQuickView" id="poria" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='bx bx-x'></i></span>
            </button>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="products-image">
                        <img src="assets/img/products/poria.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="products-content">
                        <h3><a> Black Tomato Powder</a></h3>

                        <div class="products-review mt-3">
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            
                            </div>
                    
                        </div>

                        <ul class="products-info">
                            <li><span>Products Type:</span> <a> Poria Cocos Extract</a></li>
                            <li><span>Vendor:</span> <a>Chunyung Chemical Industry</a></li>
                            <li><span>Appearance:</span> <a> Brown Yellow</a></li>
                            <li><span>Type:</span> <a>Herbal Extract</a></li>
                            <li><span>Purity:</span> <a>99%</a></li>
                            <li><span>MOQ:</span> <a>1 Kg</a></li>
                    
                           
                        </ul>

                        
                        <div class="products-size-wrapper">
                   
                        </div>

                        <div class="products-add-to-cart">
                            <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End QuickView Modal Area -->



<!-- Start QuickView Modal Area for dandelion-->
<div class="modal fade productsQuickView" id="dandelion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='bx bx-x'></i></span>
            </button>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="products-image">
                        <img src="assets/img/products/dandelion.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="products-content">
                        <h3><a> Dandelion Extract Powder</a></h3>

                        <div class="products-review mt-3">
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            
                            </div>
                    
                        </div>

                        <ul class="products-info">
                            <li><span>Products Type:</span> <a> Dandelion Extract Powder</a></li>
                            <li><span>Vendor:</span> <a>Chunyung Chemical Industry</a></li>
                            <li><span>Appearance:</span> <a> Light Brown Fine Powder</a></li>
                            <li><span>Solubility:</span> <a>Water Soluble</a></li>
                            <li><span>Purity:</span> <a>99%</a></li>
                        
                    
                           
                        </ul>

                        
                        <div class="products-size-wrapper">
                   
                        </div>

                        <div class="products-add-to-cart">
                            <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End QuickView Modal Area -->



<!-- Start QuickView Modal Area for xedtraxdroxlyn-->
<div class="modal fade productsQuickView" id="xedtraxdroxlyn" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='bx bx-x'></i></span>
            </button>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="products-image">
                        <img src="assets/img/products/xedtraxdroxlyn.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="products-content">
                        <h3><a> Xedtraxdroxyln Extract XII</a></h3>

                        <div class="products-review mt-3">
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            
                            </div>
                    
                        </div>

                        <ul class="products-info">
                            <li><span>Products Type:</span> <a> Xedtraxdroxyln Extract XII</a></li>
                            <li><span>Vendor:</span> <a>Chunyung Chemical Industry</a></li>
                            <li><span>Appearance:</span> <a> Brown Yellow Liquid</a></li>
                            <li><span>Type:</span> <a>Herbal Extract</a></li>
                            <li><span>Model Number:</span> <a>100% Natural</a></li>
                            <li><span>Purity:</span> <a>99%</a></li>
                        
                    
                           
                        </ul>

                        
                        <div class="products-size-wrapper">
                   
                        </div>

                        <div class="products-add-to-cart">
                            <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End QuickView Modal Area -->


<!-- Start QuickView Modal Area for special-->
<div class="modal fade productsQuickView" id="special" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='bx bx-x'></i></span>
            </button>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="products-image">
                        <img src="assets/img/products/special.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="products-content">
                        <h3><a> Special Order</a></h3>

                        <!-- <div class="products-review mt-3">
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            
                            </div>
                    
                        </div> -->

                        <ul class="products-info">
                            <li><span>Products Type:</span> <a> Special Oder</a></li>
                            <li><span>Vendor:</span> <a>Chunyung Chemical Industry</a></li>
                            <li><span>Details:</span> <a> You can place an order for a product that is currently on our product list and we will source it out for you and deliver it.</a></li>
                 
                        
                    
                           
                        </ul>

                        
                        <div class="products-size-wrapper">
                   
                        </div>

                        <div class="products-add-to-cart">
                            <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End QuickView Modal Area -->