        <!-- Start QuickView Modal Area for black-tea-extract -->
        <div class="modal fade productsQuickView" id="black-tea-extract" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class='bx bx-x'></i></span>
                    </button>

                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="products-image">
                                <img src="assets/img/products/black tea extract.png" alt="image">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="products-content">
                                <h3><a>Black Tea Extract</a></h3>

                                <div class="price">
                                    <span class="old-price">$45.00</span>
                                    <span class="new-price">$39.00</span>
                                </div>

                                <div class="products-review">
                                    <div class="rating">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                    </div>
                                    <a href="#" class="rating-count">3 reviews</a>
                                </div>

                                <ul class="products-info">
                                    <li><span>Vendor:</span> <a href="#">Chunyung</a></li>
                                    <li><span>Availability:</span> <a href="#">In stock (100 items)</a></li>
                                    <li><span>Products Type:</span> <a href="#">Black Tea Extract</a></li>
                                </ul>

                                
                                <div class="products-size-wrapper">
                           
                                </div>

                                <div class="products-add-to-cart">
                                    <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- End QuickView Modal Area -->




      <!-- Start QuickView Modal Area for jaceosidin-->
      <div class="modal fade productsQuickView" id="jaceosidin" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class='bx bx-x'></i></span>
                </button>

                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="products-image">
                            <img src="assets/img/products/jaceosidin.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="products-content">
                            <h3><a>Jaceosidin</a></h3>

                            <div class="price">
                                <span class="old-price">$45.00</span>
                                <span class="new-price">$39.00</span>
                            </div>

                            <div class="products-review">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <a href="#" class="rating-count">4 reviews</a>
                            </div>

                            <ul class="products-info">
                                <li><span>Vendor:</span> <a href="#">Chunyung</a></li>
                                <li><span>Availability:</span> <a href="#">In stock (100 items)</a></li>
                                <li><span>Products Type:</span> <a href="#">Jaceosidin</a></li>
                            </ul>

                            
                            <div class="products-size-wrapper">
                       
                            </div>

                            <div class="products-add-to-cart">
                                <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      </div>
    <!-- End QuickView Modal Area -->



      <!-- Start QuickView Modal Area for pivasa-->
      <div class="modal fade productsQuickView" id="pivasa" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class='bx bx-x'></i></span>
                </button>

                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="products-image">
                            <img src="assets/img/products/pivasa.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="products-content">
                            <h3><a>Pivasa</a></h3>

                            <div class="price">
                                <span class="old-price">$45.00</span>
                                <span class="new-price">$39.00</span>
                            </div>

                            <div class="products-review">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <a href="#" class="rating-count">4 reviews</a>
                            </div>

                            <ul class="products-info">
                                <li><span>Vendor:</span> <a href="#">Chunyung</a></li>
                                <li><span>Availability:</span> <a href="#">In stock (100 items)</a></li>
                                <li><span>Products Type:</span> <a href="#">Pivasa</a></li>
                            </ul>

                            
                            <div class="products-size-wrapper">
                       
                            </div>

                            <div class="products-add-to-cart">
                                <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End QuickView Modal Area -->




      <!-- Start QuickView Modal Area for poria-->
      <div class="modal fade productsQuickView" id="pivasa" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class='bx bx-x'></i></span>
                </button>

                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="products-image">
                            <img src="assets/img/products/poria.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="products-content">
                            <h3><a>Poria</a></h3>

                            <div class="price">
                                <span class="old-price">$45.00</span>
                                <span class="new-price">$39.00</span>
                            </div>

                            <div class="products-review">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <a href="#" class="rating-count">4 reviews</a>
                            </div>

                            <ul class="products-info">
                                <li><span>Vendor:</span> <a href="#">Chunyung</a></li>
                                <li><span>Availability:</span> <a href="#">In stock (100 items)</a></li>
                                <li><span>Products Type:</span> <a href="#">Poria</a></li>
                            </ul>

                            
                            <div class="products-size-wrapper">
                       
                            </div>

                            <div class="products-add-to-cart">
                                <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End QuickView Modal Area -->



<!-- Start QuickView Modal Area for schizandra-->
<div class="modal fade productsQuickView" id="pivasa" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='bx bx-x'></i></span>
            </button>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="products-image">
                        <img src="assets/img/products/schizandra.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="products-content">
                        <h3><a>Poria</a></h3>

                        <div class="price">
                            <span class="old-price">$45.00</span>
                            <span class="new-price">$39.00</span>
                        </div>

                        <div class="products-review">
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                            <a href="#" class="rating-count">4 reviews</a>
                        </div>

                        <ul class="products-info">
                            <li><span>Vendor:</span> <a href="#">Chunyung</a></li>
                            <li><span>Availability:</span> <a href="#">In stock (100 items)</a></li>
                            <li><span>Products Type:</span> <a href="#">Schizandra</a></li>
                        </ul>

                        
                        <div class="products-size-wrapper">
                   
                        </div>

                        <div class="products-add-to-cart">
                            <a href="/#contact"><button type="submit" class="default-btn"><i class="flaticon-trolley"></i>Place Order</button></a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End QuickView Modal Area -->
            